/* CSS Document */


* {
margin : 0;
padding : 0;
}
body {
	font-family: MikadoRegular;
	src: url("MikadoRegular.otf");
	font-size : 14px;
	letter-spacing: 0.7px; 
}

		a:link,
		a:visited {
			text-decoration: none;
			background-color: rgba(255,201,3,0.65);
			/*background-color: rgba(255, 255, 255, 1);*/
			color: #000;
		}

a:active {
text-decoration : line-through;
}

a:hover {
color : #282828;
text-decoration : line-through;
}

a img {
border : medium none;
}

#menu {
background: transparent;
bottom : 0;
height : 100%;
text-align : left;
left : 20px;
margin-top : 20px;
overflow : auto;
position : fixed;
top : 0;
width : 230px;
height: 96%;
}

/* logo of concordia*/

/*
920px x pooyan
MASTER OF DESIGN PROGRAM, 
CONCORDIA UNIVERSITY 
*/
/*foreword / curatorial statement / online exhibition / icon (instagram) */

#menu ul {
list-style-image : none;
list-style-position : outside;
list-style-type : none;
margin : 0 0 15px;
}

#menu ul li.section-title {
	color : #000000;
	font-family: MikadoRegular;
	src: url("MikadoRegular.otf");
	font-size : 80%;
	background-color: #ffffff;
	  letter-spacing: 0.6em; 

}

		canvas {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 0;
		}

#content {
	height : 100%;
	margin : 0 0 0 0;
	border-top : 0px solid transparent;
	width: 60%;
	margin-left: 25%;
	text-align: left;

}

		#idioma {
			margin-top: 50px;
			margin-left: 72%;
		}

		
#contenu {
    position: relative;
    z-index: 2;
    margin-top: 0px !important;
    margin-left: 0px;
}

.container {
margin-top : 24.2px !important;
margin-left : 0px !important;
}

#content p8 {

font-size:12px; color:#6b6b6b;     position: absolute;
    top: 173%;
    left: 27%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}

#content p9 {

font-size:12px; color:#000;     position: absolute;
    top: 123%;
    left: 57%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}

#content p_rio {

    margin-top: 298px;
    max-width: 575px!important; 
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: justify;


}

#content p_ritmo {

    margin-top: 179px;
    max-width: 575px!important; 
    position: absolute;
    top: 400%;
    left: 60%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: justify;

}

#content p_elo {

    margin-top: 122px;
    max-width: 575px!important; 
    position: absolute;
    top: 400%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: justify;

}

#content p_sea {

    margin-top: 55px;
    max-width: 575px!important; 
    position: absolute;
    top: 400%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: justify;

}

#content p_sea1 {

    margin-top: 180px;
    max-width: 575px!important; 
    position: absolute;
    top: 400%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: justify;

}

#content p_nva {

    margin-top: -48px;
    max-width: 550px!important; 
    position: absolute;
    top: 400%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: justify;

}

#content p_spoken {

    margin-top: 206px;
    max-width: 700px!important; 
    position: absolute;
    top: 400%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: justify;

}

#content p_spill {

    margin-top: 275px;
    max-width: 700px!important; 
    position: absolute;
    top: 400%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: justify;

}


#content p_composite {

    margin-top: 214px;
    max-width: 700px!important; 
    position: absolute;
    top: 400%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: justify;

}

#content p_signes2 {

    margin-top: 448px;
    max-width: 700px!important; 
    position: absolute;
    top: 400%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: justify;

}

#content p_pcd {

    margin-top: 552px;
    max-width: 700px!important; 
    position: absolute;
    top: 400%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: justify;

}

#content p_iclc {

    margin-top: 519px;
    max-width: 700px!important; 
    position: absolute;
    top: 400%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: justify;

}

#content p_algomex1 {

    margin-top: 232px;
    max-width: 700px!important; 
    position: absolute;
    top: 400%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: justify;

}

#content p_algomtl1 {

    margin-top: 440px;
    max-width: 700px!important; 
    position: absolute;
    top: 400%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: justify;

}

#content p_algomtl2 {

    margin-top: 430px;
    max-width: 700px!important; 
    position: absolute;
    top: 400%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: justify;

}

#content p_niebla {

    margin-top: 160px;
    max-width: 700px!important; 
    position: absolute;
    top: 400%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: justify;

}

#content p_merma {

    margin-top: 250px;
    max-width: 700px!important; 
    position: absolute;
    top: 400%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: justify;

}

#content p_tag {

    margin-top: 142px;
    max-width: 575px!important; 
    position: absolute;
    top: 400%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: justify;

}

#content p {

    margin-top: 0%;
    max-width: 500px!important; 
    position: absolute;
    top: 400%;
    left: 42%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: justify;
}


h1 {
font-size : 32px;
}
h2 {
font-size : 24px;
}
h3 {
font-size : 16px;
}
h4 {
font-size : 12px;
}
#img-container {
margin : 0;
padding : 0;
}
#img-container p {
width : 80%;
margin : 40;
padding : 0 0 12px 0;
}
#once {
clear : left;
}
#num {
padding-left : 6px;
}
.img-bot {
margin-bottom : 6px;
display : block;
}

sub {
    background-color: rgba(10,10,10,0.4);
}

sub1 {
	background-color: rgba(255,0,170,0.35);
}

sub2 {
	background-color: rgba(250,170,0,0.4);
}

sub3 {
	background-color: rgba(0,250,219,0.4);
}

sub5 {
	background-color: rgba(255,0,219,2);
}

sub6 {
	background-color: rgba(208,0,255, 0.8);
}

sub7 {
	background-color: rgba(255,255,255);
}

@font-face {
			font-family: MikadoRegular;
			src: url("MikadoRegular.otf");
		}

		/* #### Mobile Phones Portrait #### */
		
		@media screen and (max-device-width: 480px) and (orientation: portrait) {
			p {
				font-size: 25px;
				margin-top: 3rem;
				font-family: MikadoRegular;
				src: url("MikadoRegular.otf");
				font-weight: normal;
				line-height: 40px;
				padding-right: 0.6rem;
				max-width: 85%;
			}
		}
		/* #### Mobile Phones Landscape #### */
		
		@media screen and (max-device-width: 640px) and (orientation: landscape) {
			p {
				font-size: 25px;
				font-family: MikadoRegular;
				src: url("MikadoRegular.otf");
				font-weight: normal;
				line-height: 40px;
				padding-right: 0.6rem;
				max-width: 45%;
			}
}
